.pie{
	background-color: $gris;
	display: flex;
	flex-direction: column;
    margin-top: auto;
    h2{
        color: $blanco;
        padding-top: 1em;
        text-align: center;
        margin-bottom: 1em;
    }
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-bottom: 1.5em;
    }
    a{
        color: $blanco;
        font-size: 1em;
        text-decoration: none;
    }
    
}